{% extends 'mercato/base.html' %}

{% block content %}
    {% load static %}
    <canvas class="webgl min-h-screen  w-screen absolute top-6 z-0 opacity-40"></canvas>
    <section class="w-11/12 p-6 mx-auto max-h-screen bg-indigo-t  rounded-lg shadow-lg shadow-current dark:bg-gray-800 mt-20 mb-10 overflow-hidden relative ">
        <svg class="z-0 pointer-events-none absolute opacity-10 top-0 right-0" xmlns="http://www.w3.org/2000/svg" width="1024" height="1024" viewBox="0 0 512 512">
            <circle cx="256" cy="256" r="192" fill="none" stroke="white" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32"/>
            <path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="m256 175.15l-76.09 63.83L200 320h112l20.09-81.02L256 175.15zm76.09 63.83l52.87-22.4l25.78-73.26M447 269.97l-62.04-53.39m-205.05 22.4l-52.87-22.4l-25.78-73.26M65 269.97l62.04-53.39M256 175.15v-57.57l64-42.64m-128-.01l64 42.65M312 320l28 48l-28 71m98.74-71H342m-142-48l-28 48l28.37 71.5M101.63 368H172"/>
        </svg>
        <h1 class="z-10  text-4xl font-bold text-white capitalize dark:text-white text-center underline underline-offset-2">{{ team.name }}</h1>
            <div class="max-h-screen z-10 grid grid-cols-1 gap-2 mt-4 sm:grid-cols-2">
                <div class="z-10 ">

                    <div class=" z-10 terrain pt-32 pb-42">
                        <div class="flex justify-around min-h-v h-1/5  w-1/3 mx-auto">
                            {% for fw in att %}
                                <div class="grid-cols-1 mt-10 w-1/5">
                                    <a href="{% url 'show_player' fw.id %}">
                                            <img class="rounded-full  border-8 border-red-600" src="{% static fw.photo %}" alt="">
                                        </a>                                
                                    <span class="flex flex-nowrap justify-center ml-2 text-center text-sm p-2 bg-white font-bold rounded-md">{{ fw.first_name}} {{ fw.last_name }} </span>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="flex justify-around min-h-v h-1/5 w-2/3 mx-auto">
                            {% for mill in mid %}
                                <div class="grid-cols-1 mt-6 w-1/6">
                                    <a href="{% url 'show_player' mill.id %}">
                                        <img class="rounded-full  border-8 border-green-400" src="{% static mill.photo %}" alt="">
                                    </a>
                                    <span class="flex flex-nowrap justify-center ml-2 text-center text-sm p-2 bg-white font-bold rounded-md">{{ mill.first_name}} {{ mill.last_name }} </span>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="flex justify-around min-h-v h-1/5 w-3/4 mx-auto mt-1">
                            {% for def in df %}
                                <div class="grid-cols-1 mt-4 w-1/6">
                                    <a href="{% url 'show_player' def.id %}">
                                        <img class="rounded-full  border-8 border-blue-400" src="{% static def.photo %}" alt="">
                                    </a>
                                    <span class="flex flex-nowrap justify-center ml-2 text-center text-sm p-2 bg-white font-bold rounded-md">{{ def.first_name}} {{ def.last_name }} </span>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="flex justify-around min-h-v h-1/5 w-3/4 mx-auto">
                            {% for gb in g %}
                                <div class="grid-cols-1 mt-1 w-1/6">
                                    <a href="{% url 'show_player' gb.id %}">
                                        <img class="rounded-full  border-8 border-yellow-400" src="{% static gb.photo %}" alt="">
                                    </a>
                                    <span class="flex flex-nowrap justify-center ml-2 text-center p-2 bg-white font-bold rounded-md">{{ gb.first_name}} {{ gb.last_name }} </span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
                <div class="flex flex-col gap-8">
                    <img class="z-10 h-1/4 mx-auto" src="{% static team.logo  %}" alt="">
                    <div class="bg-whiteT w-10/12 mt-5 mx-auto rounded-md grid grid-cols-2 p-8">
                        <div class="flex flex-nowrap my-2">
                            <span class="underline underline-offset-2 ">Pays :</span>
                            <p>{{ team.pays }}</p>
                        </div>
                        <div class="flex flex-nowrap my-2">
                            <span class="underline underline-offset-2 ">Ville :</span>
                            <p>{{ team.ville }}</p>
                        </div>
                        <div class="flex flex-nowrap my-2">
                            <span class="underline underline-offset-2 ">Continent :</span>
                            <p>{{ team.continent.name }}</p>
                        </div>
                        <div class="flex flex-nowrap my-2">
                            <span class="underline underline-offset-2 ">Effectif :</span>
                            <p>{{ att.count|add:mid.count|add:df.count|add:g.count|add:r.count }} /{{ team.maxATT|add:team.maxMID|add:team.maxDEF|add:team.maxG|add:team.maxREM }}</p>
                        </div>
                    </div>
                    <div class="benchSub flex flex-nowrap gap-1 p-2 px-6">
                        {% for rem in r %}
                            <div class="grid-cols-1 mt-8 w-1/6">
                                <a href="{% url 'show_player' rem.id %}">
                                    <img class="rounded-full  border-8 border-gray-400" src="{% static rem.photo %}" alt="">
                                </a>
                                <span class=" ml-2 text-center p-2 bg-white font-bold rounded-md">{{ rem.first_name}} {{ rem.last_name }} </span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
    </section>
{% endblock content %}